<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kassys v1 Mockup - Connections</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Kassys 2.0</a>
            <ul class="nav pull-right">
                <li><p class="navbar-text">Logged in as Ferdinand English</p></li>
                <li class="divider-vertical"></li>
                <li><a href="login.html" class="navbar-link">Log out</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row-fluid">
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Menu</li>
            <li><a href="overview.html">Overview</a></li>
            <li><a href="transaction.html">New transaction</a></li>
            <li class="active"><a href="connections.html">Connections</a></li>
            <li><a href="history.html">Full history</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li>&nbsp;</li>
            <li><a href="payment.html">Payment</a></li>
            <li><a href="group.html">Group</a></li>
            <li><a href="item.html">Item</a></li>
            <li><a href="bill.html">Bill</a></li>
            <li>&nbsp;</li>
            <li><a href="#">Help</a></li>
            <li>&nbsp;</li>
            <li><a href="login.html">Log out</a></li>
        </ul>
    </div>
    <!--/.well -->
</div>
<!--/span-->
<div class="span7">
    <div class="container-fluid">
        <form class="form-horizontal form-horizontal-super-condensed" >
            <fieldset>
                <legend>Edit visible people</legend>
                <input type='hidden' name='cmd' value='doev'>

                <div class="control-group">
                    <label class="control-label" style="width: 250px">Joy Webster</label>

                    <div class="controls" style="padding-left: 90px">
                        <input type='checkbox' name='ev_u9' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Chloe Branch</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u10' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Stewart Norton</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u3' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Risa Meyer</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u12' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"> Zena Vasquez</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u4' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"> Kasper Strickland</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u19' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Abdul Wright</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u5' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Uta Mcclure</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u7' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"> Naomi Jacobson</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u8' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Nora Harrison</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u22' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Clark Calhoun</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u11' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Fiona Bender</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u13' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Ella Cooke</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u18' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Bo Gilbert</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u21' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Chaney Mcpherson</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u-1' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Ella Hall</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u16' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Nina Charles</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u2' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"> Angela Lambert</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u17' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Reagan Barry</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u14' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Ingrid Franks</label>

                    <div class="controls">
                        <input type='checkbox' name='ev_u20' value='1' checked='checked'>
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label">
                        <input type='submit' value='Submit' class="btn btn-primary">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>
<!--/span-->
</div>
<!--/row-->
<hr>

<footer>
    <p>&copy; Samuel Van Reeth 2012</p>
</footer>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>

</body>
</html>
