<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kassys v1 Mockup - Overview</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Kassys 2.0</a>
            <ul class="nav pull-right">
                <li><p class="navbar-text">Logged in as Ferdinand English</p></li>
                <li class="divider-vertical"></li>
                <li><a href="login.html" class="navbar-link">Log out</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row-fluid">
<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Menu</li>
            <li class="active"><a href="overview.html">Overview</a></li>
            <li><a href="transaction.html">New transaction</a></li>
            <li><a href="connections.html">Connections</a></li>
            <li><a href="history.html">Full history</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li>&nbsp;</li>
            <li><a href="payment.html">Payment</a></li>
            <li><a href="group.html">Group</a></li>
            <li><a href="item.html">Item</a></li>
            <li><a href="bill.html">Bill</a></li>
            <li>&nbsp;</li>
            <li><a href="#">Help</a></li>
            <li>&nbsp;</li>
            <li><a href="login.html">Log out</a></li>
        </ul>
    </div>
    <!--/.well -->

</div>
<!--/span-->
<div class="span7">
<div class="container-fluid">
<div class="row-fluid">
    <p>The colors are an indication of your account history: red means mostly negative, green mostly positive</p>

    <p class="lead">Within 4 days your red color will become white, if no transactions occur</p>

</div>
<!--/row-->
<div class="row-fluid">
    <div class="span6">
        <div class="page-header">
        <h3>Hall of shame</h3>
        </div>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th class="text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Joy Webster</td>
                <td class="text-align-right">&#8364; -48.60<!-- + -0.0908; -23 days accnr= --></td>
            </tr>
            <tr>
                <td>Chloe Branch</td>
                <td class="text-align-right">&#8364; -29.83
                    <!-- + -0.0986; -41 days accnr=BE60 4655 1719 8170 --></td>
            </tr>
            <tr>
                <td>Stewart Norton</td>
                <td class="text-align-right">&#8364; -23.32<!-- + -0.0210; -11 days accnr= --></td>
            </tr>
            <tr>
                <td>Risa Meyer</td>
                <td class="text-align-right">&#8364; -22.87<!-- + -0.0783; -42 days accnr= --></td>
            </tr>
            <tr>
                <td>Zena Vasquez</td>
                <td class="text-align-right">&#8364; -18.34
                    <!-- + -0.0654; -44 days accnr=BE70 7785 9136 7225 --></td>
            </tr>
            <tr>
                <td>Kasper Strickland</td>
                <td class="text-align-right">&#8364; -15.29<!-- + -0.0538; -43 days accnr= --></td>
            </tr>
            <tr>
                <td>Abdul Wright</td>
                <td class="text-align-right">&#8364; -6.85
                    <!-- + -0.0244; -44 days accnr=be50 7340 2020 6018 --></td>
            </tr>
            <tr>
                <td>Uta Mcclure</td>
                <td class="text-align-right">&#8364; -3.64<!-- + -0.0596; -201 days accnr= --></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--/span-->
    <div class="span6">
        <div class="page-header">
        <h3>Hall of fame</h3>
        </div>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th class="text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Naomi Jacobson</td>
                <td class="text-align-right">&#8364; 71.67  <!-- + 0.4738; -81 days accnr= --></td>
            </tr>
            <tr>
                <td>Nora Harrison</td>
                <td class="text-align-right">&#8364; 32.60
                    <!-- + -0.0262; 10 days --></td>
            </tr>
            <tr>
                <td>Clark Calhoun</td>
                <td class="text-align-right">&#8364; 23.68
                    <!-- + 0.0678; -35 days accnr=BE55 3930 2966 7844 --></td>
            </tr>
            <tr>
                <td>Fiona Bender</td>
                <td class="text-align-right">&#8364; 16.03
                    <!-- + 0.0357; -28 days accnr= --></td>
            </tr>
            <tr>
                <td><b>Ferdinand English</b></td>
                <td class="text-align-right"><b>&#8364; 12.65
                    <!-- + -0.0044; 4 days accnr=BE70 7350 2109 1525 --></b></td>
            </tr>
            <tr>
                <td>Ella Cooke</td>
                <td class="text-align-right">&#8364; 8.80
                    <!-- + 0.0301; -42 days accnr=001-4969733-14 --></td>
            </tr>
            <tr>
                <td>Bo Gilbert</td>
                <td class="text-align-right">&#8364; 2.63
                    <!-- + -0.0668; 318 days accnr=BE49 9792 4281 7071 --></td>
            </tr>
            <tr>
                <td>Chaney Mcpherson</td>
                <td class="text-align-right">&#8364; 0.50
                    <!-- + -0.0106; 265 days accnr= --></td>
            </tr>
            <tr>
                <td>Ella Hall</td>
                <td class="text-align-right">&#8364; 0.18
                    <!-- + -0.0076; 530 days accnr=775-5912568-51 --></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--/span-->
</div>
<!--/row-->

<div class="row-fluid">
    <h3>Total imbalance: &#8364; 168.74</h3>
</div>
<!--/row-->
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
        <h3>Notifications for Ferdinand English:</h3>
        </div>
        <form name='editwarn'>
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Reason</th>
                    <th class="text-align-right">Amount</th>
                    <th class="text-align-center">Denied</th>
                    <th>Changed</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style='text-decoration: line-through; '>2012-11-20 20:11</td>
                    <td style='text-decoration: line-through; '>I paid <a href="item.html">frambozentaart</a></td>
                    <td class="text-align-right" style='text-decoration: line-through; '><a title="85.5900000000">
                        &#8364; 85.59</a>
                    </td>
                    <td class="text-align-center" style='text-decoration: line-through; '><input type='checkbox' name='hlx_32'
                                                                                           value='1'/><input
                            type='hidden'
                            name='hlv_32'
                            value='85.5900000000'/><input
                            type='hidden' name='hlo_32' value='-1'/></td>
                    <td style='color:black; text-decoration: line-through; '>NEW</td>
                </tr>
                </tbody>
            </table>
            <input type='submit' class="btn" value='Acknowledge'/>
        </form>
    </div>
    <!--/span -->
</div>
<!--/row-->

<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
        <h3>Recent history</h3>
        </div>
        <form name='edithistory'>
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Reason</th>
                    <th class="text-align-right">Amount</th>
                    <th class="text-align-center">Denied</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style='text-decoration: line-through; '>2012-11-20 20:11</td>
                    <td style='text-decoration: line-through; '>I paid <a href="item.html">frambozentaart</a></td>
                    <td style='text-align:right; color:black; text-decoration: line-through; '><a title="85.5900000000">
                        &#8364; 85.59</a>
                    </td>
                    <td style='text-align: center; text-decoration: line-through; '><input type='checkbox' name='hlx_32'
                                                                                           value='1'/><input
                            type='hidden' name='hlv_32' value='0.0000000000'/><input type='hidden' name='hlo_32'
                                                                                     value='-1'/></td>
                </tr>
                <tr>
                    <td style=''>2012-11-16 23:05</td>
                    <td style=''>I paid <a href="bill.html">Dewerf 2012-11-16</a></td>
                    <td style='text-align:right; color:red; '><a title="-8.7000000000">&#8364; 8.70</a>
                    </td>
                    <td style='text-align: center; '><input type='checkbox' name='hlx_31' value='1'/><input
                            type='hidden' name='hlv_31' value='-8.7000000000'/><input type='hidden' name='hlo_31'
                                                                                      value='0'/></td>
                </tr>
                <tr>
                    <td style=''>2012-11-10 13:50</td>
                    <td style=''>Chloe Branch paid <a href="bill.html">Werf 2012-11-09</a></td>
                    <td style='text-align:right; color:red; '><a title="-18.5000000000">&#8364; 18.50</a>
                    </td>
                    <td style='text-align: center; '><input type='checkbox' name='hlx_30' value='1'/><input
                            type='hidden' name='hlv_30' value='-18.5000000000'/><input type='hidden' name='hlo_30'
                                                                                       value='0'/></td>
                </tr>
                <tr>
                    <td style=''>2012-10-29 18:14</td>
                    <td style=''>I paid <a href="payment.html">overschrijving</a> for Naomi Jacobson</td>
                    <td style='text-align:right; color:black; '><a title="100.0000000000">&#8364; 100.00</a>
                    </td>
                    <td style='text-align: center; '><input type='checkbox' name='hlx_29' value='1'/><input
                            type='hidden' name='hlv_29' value='100.0000000000'/><input type='hidden' name='hlo_29'
                                                                                       value='0'/></td>
                </tr>
                <tr>
                    <td style=''>2012-10-27 15:17</td>
                    <td style=''>I paid <a href="bill.html">Dewerf 2012-10-26</a></td>
                    <td style='text-align:right; color:red; '><a title="-16.2000000000">&#8364; 16.20</a>
                    </td>
                    <td style='text-align: center; '><input type='checkbox' name='hlx_24' value='1'/><input
                            type='hidden' name='hlv_24' value='-16.2000000000'/><input type='hidden' name='hlo_24'
                                                                                       value='0'/></td>
                </tr>
                <tr>
                    <td style=''>2012-10-23 00:11</td>
                    <td style=''>Bo Gilbert paid <a href="bill.html">Werfrekening 2012/10/19</a></td>
                    <td style='text-align:right; color:red; '><a title="-16.0000000000">&#8364; 16.00</a>
                    </td>
                    <td style='text-align: center; '><input type='checkbox' name='hlx_23' value='1'/><input
                            type='hidden' name='hlv_23' value='-16.0000000000'/><input type='hidden' name='hlo_23'
                                                                                       value='0'/></td>
                </tr>
                <tr>
                    <td style=''>2012-10-23 00:05</td>
                    <td style=''>Bo Gilbert paid <a href="bill.html">Werfrekening 2012/09/28</a></td>
                    <td style='text-align:right; color:black; '><a title="0.6000000000">&#8364; 0.60</a>
                    </td>
                    <td style='text-align: center; '><input type='checkbox' name='hlx_22' value='1'/><input
                            type='hidden' name='hlv_22' value='0.6000000000'/><input type='hidden' name='hlo_22'
                                                                                     value='0'/></td>
                </tr>
                <tr>
                    <td style=''>2012-10-13 00:05</td>
                    <td style=''>I paid <a href="bill.html">Dewerf 2012-10-12</a></td>
                    <td style='text-align:right; color:black; '><a title="4.0000000000">&#8364; 4.00</a>
                    </td>
                    <td style='text-align: center; '><input type='checkbox' name='hlx_20' value='1'/><input
                            type='hidden' name='hlv_20' value='4.0000000000'/><input type='hidden' name='hlo_20'
                                                                                     value='0'/></td>
                </tr>
                <tr>
                    <td style=''>2012-10-10 16:17</td>
                    <td style=''>I paid <a href="bill.html">Dewerf 2012-10-05</a></td>
                    <td style='text-align:right; color:red; '><a title="-14.3000000000">&#8364; 14.30</a>
                    </td>
                    <td style='text-align: center; '><input type='checkbox' name='hlx_18' value='1'/><input
                            type='hidden' name='hlv_18' value='-14.3000000000'/><input type='hidden' name='hlo_18'
                                                                                       value='0'/></td>
                </tr>
                </tbody>
            </table>
            <input type='submit' class="btn" value='Change denies'/>
        </form>

    </div>
    <!--/span-->
</div>
<!--/row-->
</div>
<!--/span-->
</div>
<!--/row-->
</div>
<!--/fluid-container-->
<hr>

<footer>
    <p>&copy; Samuel Van Reeth 2012</p>
</footer>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>

</body>
</html>

